<!-- Comparing categories page -->
<div class="flex flex-col min-h-screen">
    <!-- Header Section -->
    <header class="header mb-8 text-center p-6 bg-primary">
        <a [routerLink]="['/']"
            class="absolute top-0 left-0 p-2 rounded-br-lg text-white bg-primary-light hover:text-gray-500 font-semibold">
            ← Home
        </a>
        <h1 class="text-4xl font-bold text-white mt-12 lg:mt-4 mb-6">CO<sub>2</sub> emissions around the world</h1>
        <p class="text-gray-200">
            This page provides a detailed analysis and visualization of per capita CO<sub>2</sub> emissions around the
            world by comparing the emissions of different countries and regions.
    </header>

    <main class="flex-grow w-full bg-white p-4 md:p-8">
        <div class="max-w-full md:max-w-[85%] mx-auto">
            <!-- Bar Graph 1 -->
            <section class="mb-8">
                <h2 class="text-2xl font-semibold text-secondary mb-4">Data at a glance</h2>
                <p class="text-gray-700 mb-6">The following barchart illustrates per capita CO<sub>2</sub>
                    emissions of countries in the world.
                </p>
                <p class="text-gray-900 font-semibold flex justify-center mb-8">Annual total emissions of carbon dioxide
                    (CO₂), excluding land-use change, measured in tonnes per person.</p>
                <app-barchart></app-barchart>
            </section>

            <!-- Stacked Bar Graph 2, 3 & 4 -->
            <section class="mb-8">
                <h2 class="text-2xl font-semibold text-secondary mb-4">Country & Region Comparisons</h2>
                <p class="text-gray-700 mb-4">The following stacked bar charts show comparisons of total population
                    CO<sub>2</sub>
                    emissions of countries per region.</p>
                <p class="text-gray-900 font-semibold flex justify-center">Annual total emissions of carbon dioxide
                    (CO₂), excluding land-use change, measured in tonnes.</p>
                <p class="text-gray-900 font-semibold flex justify-center mb-8">(3 Variations)</p>
                <app-stackedbarchart></app-stackedbarchart>
                <app-stackedbarchartmult></app-stackedbarchartmult>
                <app-stackedbarchart100></app-stackedbarchart100>
            </section>

            <!-- Heatmap 5 -->
            <section class="mb-8">
                <h2 class="text-2xl font-semibold text-secondary mb-4">CO<sub>2</sub> emissions type</h2>
                <p class="text-gray-700 mb-4">The following heatmap demonstrates CO<sub>2</sub> emissions of countries classified by type of emission.</p>
                <p class="text-gray-900 font-semibold flex justify-center mb-8">Annual CO₂ emissions from fossil fuels
                    and land-use change, measured in tonnes.</p>
                <app-heatmap></app-heatmap>
            </section>
        </div>
    </main>

    <footer class="bg-primary-dark text-white text-center w-full py-4">
        <p class="text-sm">© 2024 The Storytellers. All rights reserved.</p>
    </footer>
</div>