.chart-container {
    width: 100%;
    /* max-width: 800px; */
    height: auto;
}


svg {
    width: 100%;
    height: auto;
    max-height: 700px;
    min-height: 400px;
}

.selectors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.selectors label {
    margin-right: 2px;
}